body {
    background: #000000;
    margin: 0px;
    font-size: 100%;
}

#noscript {
    color: white;
    font-family: sans-serif;
    z-index: 1;
    font-size: x-large;
}

#finalcrop {
position:absolute;
overflow:hidden;
width:100%;
height:100%;
left:0px;
top:0px;
}
#crop {
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
}
#img {

}
#ppi{
  height: 1in;
  left: -100%;
  position: absolute;
  top: -100%;
  width: 1in;
}
#it{
position: static;
display: block;
margin-left: auto;
margin-right: auto;
height:100%;
}
#label {
    display: none;
    color: red;
    font-family: sans-serif;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    padding: 0px;
    margin: 0px;
}
#id {
    font-size: 6em;
    margin: 0px 10px;
}
#name {
    font-size: 2em;
}
